<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" type="text/css" rel="stylesheet">
    <link href="/css/window_svg.css" type="text/css" rel="stylesheet">
    <title>ProfileList</title>
</head>
<body>
<!------------------------------------------------------- Шапка ------------------------------------------------------->
<nav id="header" class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 m-0 p-0 mr-auto" href="/main/profiles">
        <img src="/images/logo.svg" width="32" height="32" class="d-inline-block align-top m-1" alt="..."> <h2 class="d-inline-block m-0">Profiles list</h2></a>
    <h4 id="system_label">Система: </h4>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Выход</a>
        </li>
    </ul>
</nav>
<!--------------------------------------------------------------------------------------------------------------------->
<div id="main_body" class="container-fluid">
    <div class="row">
        <!------------------------------------------ Боковая панель ------------------------------------------>
        <nav th:replace="side-bar :: admin-left_side_bar"></nav>
        <!---------------------------------------------------------------------------------------------------->

        <!------------------------------------ Область отображения данных ------------------------------------>
        <main id="data" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="row container-fluid p-0 mt-5">
                <svg id="window_svg" width="700" height="700" viewBox="0 0 700 700">
                    <g class="profiles"
                       transform="translate(-626.38147,-121.51994)"
                       id="g1564">
                        <path class="window_profile"
                                d="m 775.58824,123.29412 h 330.35296 l -11.7647,11.7647 H 787.41176 Z"
                                id="path1285" />
                        <path class="window_profile"
                                d="m 1105.9412,656.58824 -11.7647,-11.76471 V 135.05882 l 11.7647,-11.7647 z"
                                id="path1283" />
                        <path class="window_profile"
                                d="m 775.58824,656.58824 11.82352,-11.76471 h 306.76474 l 11.7647,11.76471 z"
                                id="path1281" />
                        <path class="window_profile"
                                d="m 775.58824,656.58824 11.82352,-11.76471 V 135.05882 l -11.82352,-11.7647 z"
                                id="path1279" />
                        <path class="window_profile"
                                d="m 787.41176,644.82353 h 306.76474 l -26.8236,-26.88235 H 814.23529 Z"
                                id="path1291" />
                        <path class="window_profile"
                                d="m 787.41176,644.82353 26.82353,-26.88235 V 161.88235 l -26.82353,-26.82353 z"
                                id="path1293" />
                        <path class="window_profile"
                                d="m 814.23529,161.88235 -26.82353,-26.82353 h 306.76474 l -26.8236,26.82353 z"
                                id="path1295" />
                        <path class="window_profile"
                                d="m 1067.3529,161.88235 v 456.05883 l 26.8236,26.88235 V 135.05882 Z"
                                id="path1297" />
                        <path class="window_profile"
                                d="m 814.23529,609.47059 v 8.47059 h 253.11761 v -8.47059 z"
                                id="path1299" />
                        <path class="window_profile"
                                d="m 1058.8824,609.47059 h 8.4705 V 170.35294 h -8.4705 z"
                                id="path1301" />
                        <path class="window_profile"
                                d="m 822.70588,609.47059 h -8.47059 V 170.35294 h 8.47059 z"
                                id="path1303" />
                        <path class="window_profile"
                                d="m 814.23529,170.35294 h 253.11761 v -8.47059 H 814.23529 Z"
                                id="path1305" />
                    </g>
                    <g class="glass_label_group"
                            transform="translate(-626.38147,-121.51994)">
                        <path class="glass_label"
                                d="m 851.94118,209.82353 20.58823,-20.58824"
                                id="path1315" />
                        <path class="glass_label"
                                d="m 873.11765,202.76471 13.52941,-13.52942"
                                id="path1317" />
                        <path class="glass_label"
                                d="m 936.52941,209.88235 20.64706,-20.64706"
                                id="path1319" />
                        <path class="glass_label"
                                d="m 957.70588,202.82353 13.52941,-13.52941"
                                id="path1321" />
                        <path class="glass_label"
                                d="M 1021.1176,209.88235 1040,191"
                                id="path1323" />
                        <path class="glass_label"
                                d="m 851.94118,294.52941 56.41176,-56.41176"
                                id="path1325" />
                        <path class="glass_label"
                                d="m 859,273.35294 28.17647,-28.17647"
                                id="path1327" />
                        <path class="glass_label"
                                d="m 873.11765,287.41176 28.17647,-28.17647"
                                id="path1329" />
                        <path class="glass_label"
                                d="m 936.52941,294.52941 56.41177,-56.41176"
                                id="path1331" />
                        <path class="glass_label"
                                d="m 943.58824,273.35294 28.17647,-28.17647"
                                id="path1333" />
                        <path class="glass_label"
                                d="m 957.70588,287.52941 28.17647,-28.23529"
                                id="path1335" />
                        <path class="glass_label"
                                d="M 1028.1765,273.41176 1040,261.52941"
                                id="path1337" />
                        <path class="glass_label"
                                d="M 1021.1176,294.52941 1040,275.64706"
                                id="path1339" />
                        <path class="glass_label"
                                d="m 851.94118,379.17647 56.41176,-56.41176"
                                id="path1341" />
                        <path class="glass_label"
                                d="m 859,358 28.17647,-28.17647"
                                id="path1343" />
                        <path class="glass_label"
                                d="m 873.11765,372.11765 28.17647,-28.17647"
                                id="path1345" />
                        <path class="glass_label"
                                d="m 943.58824,358 28.17647,-28.17647"
                                id="path1347" />
                        <path class="glass_label"
                                d="m 936.52941,379.17647 56.41177,-56.41176"
                                id="path1349" />
                        <path class="glass_label"
                                d="m 957.70588,372.17647 28.17647,-28.23529"
                                id="path1351" />
                        <path class="glass_label"
                                d="M 1028.1765,358.05882 1040,346.23529"
                                id="path1353" />
                        <path class="glass_label"
                                d="M 1021.1176,379.17647 1040,360.29412"
                                id="path1355" />
                        <path class="glass_label"
                                d="m 851.94118,463.82353 56.41176,-56.41177"
                                id="path1357" />
                        <path class="glass_label"
                                d="m 859,442.64706 28.23529,-28.17647"
                                id="path1359" />
                        <path class="glass_label"
                                d="m 873.11765,456.76471 28.17647,-28.17647"
                                id="path1361" />
                        <path class="glass_label"
                                d="m 943.58824,442.64706 28.17647,-28.17647"
                                id="path1363" />
                        <path class="glass_label"
                                d="m 936.52941,463.82353 56.41177,-56.41177"
                                id="path1365" />
                        <path class="glass_label"
                                d="m 957.70588,456.82353 28.17647,-28.23529"
                                id="path1367" />
                        <path class="glass_label"
                                d="M 1028.1765,442.70588 1040,430.88235"
                                id="path1369" />
                        <path class="glass_label"
                                d="M 1021.1176,463.82353 1040,444.94118"
                                id="path1371" />
                        <path class="glass_label"
                                d="m 851.94118,548.47059 56.41176,-56.41177"
                                id="path1373" />
                        <path class="glass_label"
                                d="m 859,527.29412 28.23529,-28.17647"
                                id="path1375" />
                        <path class="glass_label"
                                d="m 873.11765,541.41176 28.17647,-28.17647"
                                id="path1377" />
                        <path class="glass_label"
                                d="m 868.11765,602.82353 19.05882,-19.05882"
                                id="path1379" />
                        <path class="glass_label"
                                d="m 882.23529,602.82353 26.11765,-26.11765"
                                id="path1381" />
                        <path class="glass_label"
                                d="m 896.35294,602.82353 4.94118,-5"
                                id="path1383" />
                        <path class="glass_label"
                                d="m 952.76471,602.82353 19.05882,-19.05882"
                                id="path1385" />
                        <path class="glass_label"
                                d="m 966.82353,602.82353 26.11765,-26.11765"
                                id="path1387" />
                        <path class="glass_label"
                                d="m 980.94118,602.82353 4.94117,-5"
                                id="path1389" />
                        <path class="glass_label"
                                d="M 1037.3529,602.82353 1040,600.17647"
                                id="path1391" />
                        <path class="glass_label"
                                d="M 1021.1765,548.47059 1040,529.64706"
                                id="path1393" />
                        <path class="glass_label"
                                d="m 1028.2353,527.29412 11.7059,-11.76471"
                                id="path1395" />
                        <path class="glass_label"
                                d="m 936.52941,548.47059 56.41177,-56.41177"
                                id="path1397" />
                        <path class="glass_label"
                                d="m 943.58824,527.35294 28.17647,-28.23529"
                                id="path1399" />
                        <path class="glass_label"
                                d="m 957.70588,541.41176 28.17647,-28.17647"
                                id="path1401" />
                    </g>
                    <g class="open_symbol_group"
                            transform="translate(-626.38147,-121.51994)"
                            style="stroke:#00ff00;stroke-opacity:1">
                        <path class="open_symbol"
                                d="m 829.35294,602.82353 6.88235,-26.41177"
                                id="path1403" />
                        <path class="open_symbol"
                                d="m 839.11765,565.47059 5.70588,-21.94118"
                                id="path1405" />
                        <path class="open_symbol"
                                d="m 847.70588,532.58824 5.76471,-21.94118"
                                id="path1407" />
                        <path class="open_symbol"
                                d="m 856.29412,499.70588 5.7647,-21.94117"
                                id="path1409" />
                        <path class="open_symbol"
                                d="m 864.94118,466.82353 5.70588,-21.94118"
                                id="path1411" />
                        <path class="open_symbol"
                                d="M 873.52941,433.94118 879.23529,412"
                                id="path1413" />
                        <path class="open_symbol"
                                d="m 882.11765,401 5.7647,-21.88235"
                                id="path1415" />
                        <path class="open_symbol"
                                d="m 890.70588,368.11765 5.76471,-21.88236"
                                id="path1417" />
                        <path class="open_symbol"
                                d="m 899.35294,335.23529 5.70588,-21.88235"
                                id="path1419" />
                        <path class="open_symbol"
                                d="m 907.94118,302.35294 5.7647,-21.88235"
                                id="path1421" />
                        <path class="open_symbol"
                                d="m 916.52941,269.47059 5.76471,-21.88235"
                                id="path1423" />
                        <path class="open_symbol"
                                d="m 925.17647,236.58824 5.70588,-21.94118"
                                id="path1425" />
                        <path class="open_symbol"
                                d="M 933.76471,203.70588 940.76469,177 l 6.88235,26.47059"
                                id="path1427" />
                        <path class="open_symbol"
                                d="m 950.52941,214.41176 5.70588,21.94118"
                                id="path1429" />
                        <path class="open_symbol"
                                d="m 959.11765,247.29412 5.7647,21.94117"
                                id="path1431" />
                        <path class="open_symbol"
                                d="m 967.76471,280.17647 5.70588,21.94118"
                                id="path1433" />
                        <path class="open_symbol"
                                d="M 976.35294,313.05882 982.11765,335"
                                id="path1435" />
                        <path class="open_symbol"
                                d="m 984.94118,345.94118 5.7647,21.94117"
                                id="path1437" />
                        <path class="open_symbol"
                                d="m 993.58824,378.82353 5.70588,21.94118"
                                id="path1439" />
                        <path class="open_symbol"
                                d="m 1002.1765,411.70588 5.7647,21.94118"
                                id="path1441" />
                        <path class="open_symbol"
                                d="m 1010.7647,444.64706 5.7647,21.88235"
                                id="path1443" />
                        <path class="open_symbol"
                                d="m 1019.4118,477.52941 5.7058,21.88235"
                                id="path1445" />
                        <path class="open_symbol"
                                d="m 1028,510.41176 5.7647,21.88236"
                                id="path1447" />
                        <path class="open_symbol"
                                d="m 1036.5882,543.29412 5.7647,21.88235"
                                id="path1449" />
                        <path class="open_symbol"
                                d="m 1045.2353,576.17647 7.0002,26.70588 -9,-8.64706"
                                id="path1451" />
                        <path class="open_symbol"
                                d="m 1035,586.41176 -16.4118,-15.64705"
                                id="path1453" />
                        <path class="open_symbol"
                                d="M 1010.4118,562.94118 994,547.23529"
                                id="path1455" />
                        <path class="open_symbol"
                                d="M 985.82353,539.41176 969.41176,523.76471"
                                id="path1457" />
                        <path class="open_symbol"
                                d="M 961.23529,515.94118 944.82353,500.29412"
                                id="path1459" />
                        <path class="open_symbol"
                                d="M 936.64706,492.47059 920.23529,476.82353"
                                id="path1461" />
                        <path class="open_symbol"
                                d="M 912.05882,469 895.64706,453.35294"
                                id="path1463" />
                        <path class="open_symbol"
                                d="M 887.47059,445.52941 871.11765,429.88235"
                                id="path1465" />
                        <path class="open_symbol"
                                d="M 862.88235,422.05882 846.52941,406.41176"
                                id="path1467" />
                        <path class="open_symbol"
                                d="m 838.29412,398.58822 -8.94118,-8.64706 8.94118,-8.58824"
                                id="path1469" />
                        <path class="open_symbol"
                                d="M 846.58824,373.47059 863,357.82353"
                                id="path1471" />
                        <path class="open_symbol"
                                d="m 871.17647,350 16.35294,-15.64706"
                                id="path1473" />
                        <path class="open_symbol"
                                d="m 895.76471,326.52941 16.35294,-15.64706"
                                id="path1475" />
                        <path class="open_symbol"
                                d="m 920.29412,303.05882 16.41176,-15.70588"
                                id="path1477" />
                        <path class="open_symbol"
                                d="m 944.88235,279.52941 16.41177,-15.64706"
                                id="path1479" />
                        <path class="open_symbol"
                                d="m 969.47059,256.05882 16.41176,-15.64706"
                                id="path1481" />
                        <path class="open_symbol"
                                d="m 994.05882,232.58824 16.41178,-15.64706"
                                id="path1483" />
                        <path class="open_symbol"
                                d="M 1018.6471,209.11765 1035,193.47059"
                                id="path1485" />
                        <path class="open_symbol"
                                d="m 1043.2353,185.64706 9,-8.64706"
                                id="path1487" />
                    </g>
                    <g class="hinhe_group"
                            transform="translate(-626.38147,-121.51994)"
                            style="fill:#d2d2d2;fill-opacity:1"
                            id="g1617">
                        <path class="hinge"
                                d="m 1094.1765,644.82353 h 5 v -55.64706 h -5 z"
                                id="path1517" />
                        <path class="hinge"
                                d="m 1094.1765,627.64706 h 5"
                                id="path1519" />
                        <path class="hinge"
                                d="m 1094.1765,609.35294 h 4.8823"
                                id="path1521" />
                        <path class="hinge"
                                d="m 1094.1765,190.70588 h 5 v -55.64706 h -5 z"
                                id="path1523" />
                        <path class="hinge"
                                d="m 1094.1765,170.52941 h 4.8823"
                                id="path1525" />
                        <path class="hinge"
                                d="m 1094.1765,152.23529 h 5"
                                id="path1527" />
                    </g>
                    <g class="handle_part_group"
                            transform="translate(-626.38147,-121.51994)"
                            id="g1668">
                        <path class="handle_part"
                                d="m 790.94118,417.70588 c 0,1.42814 1.63068,3.006 3.0588,2.99998 0,0 2e-5,2e-5 13.9412,-0.0588 1.08145,-0.005 2.29307,-1.21268 2.29411,-2.29414 l 0.0588,-61.11765 c 10e-4,-1.25551 -1.09741,-2.93587 -2.35291,-2.94117 0,0 0,0 -13.94121,-0.0588 -1.42813,-0.006 -3.06021,1.57186 -3.05882,3 0.0589,60.47058 3e-5,-10e-6 3e-5,60.47058 z"
                                id="path1307" />
                        <path class="handle_part"
                                d="m 792.47059,394.41176 c 0,0.52978 0.16573,0.88388 1,1.2353 0.21983,0.0926 0.48465,0.0284 0.70588,0.11765 0.83424,0.33635 0.65365,0.37191 1,0.64705 0.46852,0.37219 9.93787,0.41135 10.94118,0 0.35782,-0.1467 0.6804,-0.37048 1,-0.58823 0.28828,-0.19641 0.48404,-0.12437 0.70588,-0.23529 0.47059,-0.2353 0.94118,-0.6274 0.94118,-1.17648 v -13.70588 c 0,-0.51766 -0.49543,-0.97208 -0.94118,-1.23529 -1.38253,-0.81637 -3.16348,-0.58791 -4.76471,-0.70588 -1.6035,-0.11813 -3.22003,-0.11813 -4.82353,0 -1.60123,0.11797 -3.3703,-0.09 -4.7647,0.70588 -0.4601,0.26262 -1,0.70552 -1,1.23529 z"
                                id="path1313" />
                        <path class="handle_part"
                                d="m 795.52944,383.23529 c 0.52938,72.88236 0,0 0.52938,72.88236 0.004,0.58231 0.653,1.24044 1.2353,1.23529 6.64706,-0.0588 0,0 6.64706,-0.0588 0.55457,-0.005 1.17155,-0.6219 1.17647,-1.17647 0.64706,-72.88238 0,0 0.58823,-72.88236 0.004,-0.51467 -0.48537,-1.18352 -1,-1.17647 -8.58823,0.11765 2e-5,-2e-5 -8.58823,0.11765 -0.4037,0.006 -0.59114,0.65507 -0.58821,1.0588 z"
                                id="path1311" />
                    </g>
                    <g class="dimension_group"
                            transform="translate(-626.38147,-121.51994)"
                            id="g1550">
                        <path class="dimension"
                                d="m 1105.9412,695.47059 -13.8824,-2.29412 v 4.64706 z"
                                id="path1489" />
                        <path class="dimension"
                                d="M 1092.0588,695.47059 H 789.52941"
                                id="path1491" />
                        <path class="dimension"
                                d="m 789.52941,697.82353 v -4.64706 l -13.94117,2.29412 z"
                                id="path1493" />
                        <path class="dimension"
                                d="M 775.58824,699.11765 V 660.23529"
                                id="path1495" />
                        <path class="dimension"
                                d="M 772,656.58824 H 741.41176"
                                id="path1497" />
                        <path class="dimension"
                                d="M 742.70588,642.70588 745,656.58824 l 2.35294,-13.88236 z"
                                id="path1499" />
                        <path class="dimension"
                                d="M 745,642.70588 V 137.17647"
                                id="path1501" />
                        <path class="dimension"
                                d="m 742.70588,137.17647 h 4.64706 L 745,123.29412 Z"
                                id="path1503" />
                        <path class="dimension"
                                d="M 741.41176,123.29412 H 772"
                                id="path1505" />
                        <path class="dimension"
                                d="m 723.88235,386.11765 h 16.29412"
                                id="path1507" />
                        <path class="dimension"
                                d="m 723.88235,393.76471 h 16.29412"
                                id="path1509" />
                        <path class="dimension"
                                d="m 731.64706,393.76471 v -7.64706"
                                id="path1511" />
                        <path class="dimension"
                                d="m 936.41176,690.64706 4.35295,-16.35294 4.35294,16.35294"
                                id="path1513" />
                        <path class="dimension"
                                d="m 938.05882,685.17647 h 5.41177"
                                id="path1515" />
                        <path class="dimension"
                                d="M 1105.9412,699.22059 V 660.08824"
                                id="path1533" />
                    </g>
                    <rect class="glass"
                            y="48.833"
                            x="196.32442"
                            height="439.11765"
                            width="236.17651"
                            id="rect960" />
                </svg>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Тип конструкции
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="row container-fluid p-0" id="profiles_list">
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_1.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_2.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_3.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_4.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_5.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_6.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_7.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_8.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_9.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_10.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card bg-light m-2" style="max-width: 15rem;">
                                <img src="/images/window_types/window_type_11.svg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!---------------------------------------------------------------------------------------------------->
    </div>
</div>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="/js/events/calculator-window_page.js"></script>
    <script src="/js/events/window_svg.js"></script>
</body>
</html>